<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.africanwolf.hiddenwords">

    <application
        android:name=".WordSearchApp"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/App.SplashScreenTheme">

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".gameplay.GamePlayActivity" android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".mainmenu.MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".gameover.GameOverActivity">
        </activity>
        <activity android:name=".gamehistory.GameHistoryActivity">
        </activity>
    </application>

</manifest>